<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.jokar.gankio">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.READ_LOGS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
		android:name=".app.GankioApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".view.activity.SplashViewActivity"
			android:theme="@style/SplahsTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name=".view.activity.MainActivity"/>

		<activity android:name=".view.activity.GankActivity"
			android:theme="@style/SplahsTheme"
			android:process=":webview"/>
		<activity
			android:name=".view.activity.AddGankActivity"
			android:theme="@style/AddGankTheme"
			android:windowSoftInputMode="stateHidden|adjustResize"/>

		<activity
			android:name=".view.activity.GankImageActivity"
			android:theme="@style/ImageTheme"/>

		<activity android:name=".view.activity.DailyGankActivity"/>

		<activity android:name=".view.activity.SettingActivity"/>
		<service
			android:name=".view.listener.DownloadIntentService"
			android:enabled="true"/>
		<meta-data
			android:name="org.jokar.gankio.app.GlideModuleSetting"
			android:value="GlideModule"/>
	</application>

</manifest>